@import url(global.css);
@import url(header.css);
@import url(form.css);

.container {
  width: 100%;

  color: #fff;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.contentContainer {
  margin: 10px;

  display: flex;
}

.image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072e38fa;
}
.image img {
  width: 60%;
  height: 200px;
}