@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black;*/
}

body,
input,
textarea,
select {
  font: 400 1rem 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
