.container{
  background: #04A1BF;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 20px;
}

.header h1{
  text-transform: uppercase;
  color: white;
}

.header p {
  color:#054c5a;
  padding: 5px;
  font-weight: bold;
}

.input {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0.9rem;
}

.input input {
  width: 70%;
  margin-right: 5px;
}
.button{
  margin: 10px;
  opacity: 0.7;
  transition: 0.3ms;
}

button {
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background:#054c5a;
  color: #04A1BF;
  opacity: 0.7;
  transition: 0.3ms;
}

button:hover{
  opacity: 1;
  font-weight: bold;
}

.todo__list {
  display: flex;
  margin: 0.5rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
 
  /*background: #4DB8CC;
  padding: 5px;
  font-weight: bold;
  color: white;
  border: 2px solid #054c5a;
  margin-bottom: 5px;
  border-radius: 5px;*/
}