body {
  background: #a4b3c2;
}
#container {
  height: 5rem;
  background: rgba(5, 17, 54, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#logo {
  margin-left: 1rem;
}
#content {
  font-weight: 700;
}

#content a {
  margin-left: 2rem;
  color: white;
}

#content a:hover {
  color: #a4b3c2;
}

.formulario {
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formulario p {
  width: 100%;
  font-size: 1.5rem;
  color: rgba(5, 17, 54, 0.7);
}
.field {
  width: 100%;
  margin: 15px 0;
  padding-left: 10px;
  font-size: 1.1rem;
  display: block;
  width: 100%;
  color: rgba(1, 11, 41, 0.7);
}
input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #a4b3c2;
  outline: none;
}

textarea {
  line-height: 20px;
  padding: 10px;
  height: 50px;
}
input[type='submit'] {
  display: block;
  background-color: rgba(5, 17, 54, 0.7);
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}
input:hover {
  color: #a4b3c2;
}
#adicionais {
  display: flex;
  color: rgba(5, 17, 54, 0.7);
  position: absolute;
  top: 75%;
  left: 2%;
}
#table1 {
  margin-left: 40px;
}
#table2 {
  margin-left: 40px;
}
