body {
  background: #a4b3c2;
}
#container {
  height: 5rem;
  background: rgba(5, 17, 54, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#logo {
  margin-left: 1rem;
}
#content {
  font-weight: 700;
}

#content a {
  margin-left: 2rem;
  color: white;
}

#content a:hover {
  color: #a4b3c2;
}

.redes-sociais {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.redes-sociais p {
  margin-bottom: 20px;
  color: #434a52;
}
.redes-sociais a {
  color: white;
  display: inline-flex;
  margin: 3px;
  transition: 0.5s;
}

.redes-sociais a:hover {
  padding-left: 10px;
}
