body {
  background: #a4b3c2;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #051136b3;
  color: #a4b3c2;
}

h2 {
  margin-bottom: 0.6rem;
}

.content img {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  width: 80%;
}

#main {
  height: 50%;
  display: flex;
  margin-top: 4rem;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.opcoes {
  width: 100%;
}

.opcoes figure {
  display: flex;
  flex-direction: column;
}

figure {
  align-items: center;
  margin: 0.3rem;
}

a {
  font-weight: bolder;
  margin-left: 0.3rem;
  color: rgba(5, 17, 54, 0.7);
}
