@import url(reset.css);

form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

form label{
    margin: 5px 0;
}

form input[type="submit"]{
    margin: 10px 0;
}